<div class="modal modal--quickshop js-quickshop-modal">
  <div class="modal__inner">
    <button
      class="modal__close modal__close--quickshop js-modal-close"
      data-type="shipping"
      aria-label="Close Quickshop"
      aria-controls="modal"
      data-title="false"
    >
      {%- render 'theme-icons' with 'close' -%}
    </button>
    <div class="modal__content modal__content--quickshop js-quickshop-content"></div>
  </div>
</div>
