.header {
  top: var(--promo-bar-height, 0);
  translate: 0 var(--header-offset, 0);
  box-shadow: 0 1px 0 0 var(--c-border-light, #e9e9e9);
  transition: translate 200ms cubic-bezier(0.37, 0, 0.63, 1);

  @apply sticky z-header bg-white text-primary;

  &__main {
    grid-template: "burger logo functions" / 19% 1fr 19%;
    grid-template-rows: 1fr;
    height: 76px;

    @apply relative grid items-center px-row py-4;

    @screen desktop-fine {
      grid-template: "logo nav functions" / 19% 1fr 19%;
      height: 68px;

      @apply gap-x-3 py-0;
    }
  }

  &__search {
    transition: all 300ms ease-in-out;
    transition-delay: 200ms;

    @apply invisible absolute left-0 top-full z-1 h-0 w-full border-b border-solid border-grey-95 bg-white opacity-0;

    &--active {
      height: 68px;

      @apply visible opacity-100;
    }

    &-triggers {
      @apply relative flex h-7 w-7 cursor-pointer;

      @screen max-lg {
        width: 28px;
        height: 28px;
      }
    }

    &-wrapper {
      @apply flex h-full w-full items-center justify-center;
    }

    &-submit {
      @apply absolute right-row z-1;
    }

    &-open,
    &-close {
      @apply absolute left-0 top-0 flex;
    }

    &-form {
      @apply w-full;
    }

    &-input {
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        @apply hidden;
      }

      .header__search--active & {
        @apply opacity-100;
      }

      @apply h-full w-full text-center text-md font-semibold uppercase leading-zero tracking-wide text-grey-20 text-opacity-50 opacity-0 transition-opacity;
    }
  }

  &__burger {
    grid-area: burger;

    @apply relative z-1 h-8 w-8;

    @screen desktop-fine {
      @apply hidden;
    }

    &::before {
      content: "";

      @apply absolute -left-2 -top-2 -z-1 h-12 w-12;
    }
  }

  &__logo {
    grid-area: logo;

    @apply flex h-9;

    @screen max-lg {
      @apply justify-center;
    }

    @screen large-mobile {
      @apply justify-center;
    }

    @screen desktop-fine {
      max-width: 14rem;
    }
  }

  &__functions {
    grid-area: functions;

    @apply flex items-center justify-end gap-x-3 lg:flex-row;

    @screen desktop-fine {
      @apply gap-x-5;
    }
  }

  &__nav {
    grid-area: nav;

    @apply h-full;
  }

  &__trade {
    min-width: unset;
    padding-block: 0.6rem;

    @apply w-fit select-none justify-center gap-x-1 rounded-full px-4 uppercase tracking-standard transition-opacity;

    @screen max-lg {
      @apply hidden;
    }

    @screen large-mobile {
      @apply hidden;
    }

    @include hover {
      @apply opacity-75;
    }
  }

  &__wishlist {
    @screen max-lg {
      @apply hidden;
    }

    @screen large-mobile {
      @apply hidden;
    }
  }

  &__accounts {
    @screen max-lg {
      @apply hidden;
    }

    @screen large-mobile {
      @apply hidden;
    }
  }

  &__cart {
    @apply relative;
  }
}
