@import "../base/mixins";

.nav {
  @apply h-full;

  @screen max-lg {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-100%)
      translateY(calc(var(--promo-bar-height, 0px) * -1));
    grid-template-rows: auto 1fr auto;
    max-width: 480px;
    height: calc(100 * var(--vh, 1vh));

    .util-mobile-nav-open & {
      transform: translateX(0)
        translateY(calc(var(--promo-bar-height, 0px) * -1));
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 200ms;
    }

    @apply absolute left-0 z-10 flex w-full flex-col bg-white;
  }

  @screen large-mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-100%)
      translateY(calc(var(--promo-bar-height, 0px) * -1));
    grid-template-rows: auto 1fr auto;
    max-width: 480px;
    height: calc(100 * var(--vh, 1vh));

    .util-mobile-nav-open & {
      transform: translateX(0)
        translateY(calc(var(--promo-bar-height, 0px) * -1));
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 200ms;
    }

    @apply absolute left-0 z-10 flex w-full flex-col bg-white;
  }

  @screen max-sm {
    max-width: 100vw;
  }

  &__header {
    height: var(--header-height);

    @apply relative flex items-center justify-center border-b border-solid border-grey-95;

    @screen desktop-fine {
      @apply hidden;
    }

    &-wrapper {
      grid-template-columns: 24px 1fr 20px;

      @apply grid cursor-pointer items-center gap-1 px-row py-5;
    }

    &-prev {
      @apply h-6 w-6 transition-opacity;

      &[aria-hidden] {
        @apply invisible opacity-0;
      }

      &:not([aria-hidden]) {
        @apply relative;

        &::before {
          content: "";
          top: calc(50% - 12px);
          left: calc(50% - 12px);

          @apply absolute h-6 w-6;
        }

        svg {
          @apply h-full w-full;
        }
      }
    }

    &-current {
      @apply grid;

      > span {
        grid-area: 1 / 1;

        @apply font-medium text-primary opacity-0 transition-opacity;

        &:not([aria-hidden="true"]) {
          @apply opacity-100;

          + svg {
            @apply opacity-0;
          }
        }
      }

      > svg {
        grid-area: 1 / 1;
        width: 133px;

        @apply h-9 bg-white transition-opacity;
      }
    }
  }

  &__footer {
    margin-top: auto;

    @apply z-1 grid w-full grid-cols-2 items-center gap-x-6 border-t border-solid border-grey-95 bg-white px-10;

    @screen desktop-fine {
      @apply hidden;
    }

    &-link {
      @apply flex cursor-pointer items-center gap-x-2 py-7;

      @include hover {
        .nav__footer-text {
          @apply underline;
        }
      }
    }

    &-text {
      @apply text-sm font-semibold uppercase leading-base tracking-standard text-grey-10 underline-offset-4;
    }
  }

  &__close {
    top: calc(50% - 10px);

    @apply absolute right-6;

    &::before {
      content: "";
      position: absolute;
      inset: -2rem;
    }
  }

  &__list {
    @apply justify-between;

    @screen max-lg {
      overflow: auto;
      height: 100%;
    }

    @screen large-mobile {
      overflow: auto;
      height: 100%;
    }

    @screen desktop-fine {
      @apply flex h-full;

      .nav__item {
        @apply relative;
      }
    }

    @screen xl {
      gap: 32px;

      @apply justify-center;
    }

    @screen 2xl {
      gap: 38px;
    }
  }

  &__item {
    @screen max-lg {
      &--top {
        @apply border-b border-solid border-grey-95;

        &--has-submenu {
          @apply relative;
        }
      }

      &--megamenu {
        @apply flex-col;
      }
    }

    @screen large-mobile {
      &--top {
        @apply border-b border-solid border-grey-95;

        &--has-submenu {
          @apply relative;
        }
      }

      &--megamenu {
        @apply flex-col;
      }
    }

    @screen desktop-fine {
      --hover-indicator: 0;

      position: relative;
      z-index: 30;

      &--has-submenu {
        @apply relative;

        margin: -20px;
        padding: 20px;

        &::after {
          pointer-events: none;
          content: "";
          position: absolute;
          z-index: -1;
          inset: -20px;
        }

        &::before {
          pointer-events: none;
          content: "";
          position: absolute;
          z-index: -2;
          inset: -25px;
        }
      }

      &:hover {
        --hover-indicator: 1;

        .nav__submenu {
          @apply visible opacity-100;

          transition-delay: 0ms;
        }

        > .nav__link--top {
          @apply text-primary;
        }
      }

      &--child {
        @apply row-start-1;

        &-has-links {
          &:hover {
            --hover-indicator: 0;
          }

          &:focus-within,
          &:focus-visible {
            --hover-indicator: 0;
          }
        }

        &:first-child {
          @apply border-l-0 pl-0;
        }
      }

      &--grandchild {
        @apply row-start-2;
      }

      &--megamenu {
        @apply flex-wrap justify-end border-l-0 pl-0;
      }

      &--top {
        @apply relative;
      }

      &:focus-within,
      &:focus-visible {
        --hover-indicator: 1;

        > .nav__link--top {
          @apply text-primary;
        }

        > .nav__link--has-icon {
          --hover-indicator: 0;

          @apply opacity-60 transition-opacity;
        }

        .nav__submenu {
          @apply visible opacity-100;
        }
      }
    }

    &--megamenu {
      @apply flex gap-6;
    }
  }

  &__heading {
    @apply flex items-center gap-x-2;
  }

  &__swatch {
    @apply h-5 w-5 rounded-full border border-solid border-border-swatch;
  }

  &__title {
    &--child {
      @apply select-none text-sm font-semibold uppercase leading-base text-primary;

      .nav__submenu--linear & {
        @apply cursor-pointer text-md font-medium;
      }
    }

    &--grandchild {
      @apply text-md font-normal leading-base;
    }

    &--megamenu {
      @apply text-sm font-semibold leading-base;
    }
  }

  &__link {
    @apply cursor-pointer;

    @screen max-lg {
      @apply inline-flex w-full items-center;

      &--top {
        @apply justify-between px-10 py-5;

        small {
          @apply text-primary;
        }
      }

      .nav__item--child & {
        small {
          @apply text-base font-medium;

          @screen desktop-fine {
            @apply text-md;
          }
        }
      }

      .nav__item--grandchild & {
        small {
          @apply text-md font-medium;
        }
      }
    }

    @screen large-mobile {
      @apply inline-flex w-full items-center;

      &--top {
        @apply justify-between px-10 py-5;

        small {
          @apply text-primary;
        }
      }

      .nav__item--child & {
        small {
          @apply text-base font-medium;

          @screen desktop-fine {
            @apply text-md;
          }
        }
      }

      .nav__item--grandchild & {
        small {
          @apply text-md font-medium;
        }
      }
    }

    @screen desktop-fine {
      @apply relative;

      &::after {
        content: "";
        opacity: var(--hover-indicator);
        transition: opacity 200ms ease-out;

        @apply absolute bottom-0 z-1 h-px w-full bg-primary;
      }

      &--top {
        &::after {
          content: "";
          left: calc(50% - theme("spacing.1"));
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0 100%);

          @apply absolute -bottom-1 z-2 h-2 w-2 rotate-45 bg-white;
        }

        small {
          @apply uppercase text-primary;
        }

        @apply relative flex h-full select-none items-center;
      }

      &--has-icon {
        &::after {
          content: none;
        }

        .nav__title {
          @apply relative;

          &::after {
            content: "";
            opacity: var(--hover-indicator);
            transition: opacity 200ms ease-out;

            @apply absolute bottom-0 left-0 z-1 h-px w-full bg-primary;
          }
        }
      }
    }

    small {
      @apply text-sm font-medium;
    }

    &--has-icon {
      @apply flex items-center gap-x-2;
    }
  }

  &__submenu {
    overscroll-behavior: contain;

    @apply w-full overflow-scroll bg-white;

    @screen max-lg {
      .has-nav-open & {
        @apply h-full;
      }

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 200ms;
      }

      @apply flex h-0 flex-col overflow-scroll;
    }

    @screen large-mobile {
      .has-nav-open & {
        @apply h-full;
      }

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 200ms;
      }

      @apply flex h-0 flex-col overflow-scroll;
    }

    @screen desktop-fine {
      transition:
        opacity 200ms ease-out,
        visibility 200ms ease-out;

      @apply invisible fixed left-0 top-full z-1 items-start justify-center overflow-hidden opacity-0;

      &--linear {
        left: initial;
        min-width: 200px;

        @apply absolute left-1/2 w-full -translate-x-1/2;
      }
    }
  }

  &__megamenu {
    &-link {
      @apply flex items-center justify-between pt-4;
    }
  }

  &__child-list {
    @screen max-lg {
      @apply mx-10 flex flex-col gap-y-4 border-t border-solid border-grey-95 py-5;
    }

    @screen large-mobile {
      @apply mx-10 flex flex-col gap-y-4 border-t border-solid border-grey-95 py-5;
    }

    @screen desktop-fine {
      max-height: 60vh;

      @apply grid w-full auto-cols-auto justify-between gap-4 overflow-scroll px-row py-10;

      .nav__submenu--linear & {
        @apply flex w-fit flex-col p-6;

        .nav__item {
          @apply border-l-0 pl-0;
        }
      }
    }
  }

  &__grandchild-list {
    @screen max-lg {
      @apply relative flex flex-col gap-y-6 border-b border-solid border-grey-95 py-5;
    }

    @screen large-mobile {
      @apply relative flex flex-col gap-y-6 border-b border-solid border-grey-95 py-5;
    }

    @screen desktop-fine {
      @apply flex w-full flex-col gap-2 pt-4;
    }
  }

  &__chevron {
    @apply stroke-grey-5;

    @screen desktop-fine {
      @apply hidden;
    }
  }
}
