{%- comment -%}
  Trustpilot Business Stats
  Displays overall Trustpilot score and total review count
  Data is populated via JavaScript from Trustpilot API
{%- endcomment -%}

<div class="c-trustpilot__business--stats" data-trustpilot-stats-content>
  <div class="flex gap-4">
    <div class="c-trustpilot__business--score">
      <span class="c-trustpilot__business--score-text" data-score-text></span>
      <div class="c-trustpilot__stars" data-score-stars-container></div>
    </div>
    <p class="c-trustpilot__business--reviews" data-total-reviews-text></p>
  </div>

  <div data-trustpilot-logo>{% render 'theme-icons' with 'trustpilot-logo' %}</div>
</div>
