{% style %}
  :not(:has(#recover:target)) #shopify-section-{{ section.id }} {
    display: none;
  }
{% endstyle %}

{%- render 'section-spacing' -%}

<div class="grid lg:grid-cols-2 gap-y-9 max-lg:mt-6">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'media' -%}
        <div class="{%- if block.settings.mobile_hidden -%}hidden lg:flex{%- endif -%}">
          {%-
            render 'object-image'
            with block.settings.image,
            mobile_image: block.settings.image_mobile,
            class: 'o-picture--fill',
            aspect: '840 / 745',
            aspect_mobile: '1 / 1',
            preload: true,
          -%}
        </div>
    {%- endcase -%}
  {%- endfor -%}

  <div class="flex justify-center only:col-span-2 js-spacing-content  max-w-[756px] mx-auto w-full pt-12 lg:pt-14">
    <div class="form__recover-inner max-md:items-center self-center text-grey-0 w-full">
      <h1 id="recover" tabindex="-1" class="text-4xl font-medium mb-[8px] font-heading text-center">
        {{ 'customer.recover.title' | t }}
      </h1>

      {%- render 'form-recover', hidden: false, class: 'gap-y-6', title: '', text: 'customer.recover.subtext | t', -%}
    </div>
  </div>
</div>
{% if section.settings.apply_content == true %}
  <script>
    document.querySelector('.js-spacing-content').classList.add('o-row--content');
  </script>
{% endif %}
