{% render 'theme_assets' with 'section-customer-addresses.min.css' %}

{% render 'section-spacing' %}

<div class="c-customer">
  {%- render 'customer-menu' -%}

  {%- render 'account-addresses' -%}
</div>
